{% extends 'SonataAdminBundle:CRUD:base_list_mosaic.html.twig' %}

{% block sonata_mosaic_background %}
{% if object.image is not empty%}
    <img src="{{ asset(object.image.webPath) }}" alt="" width="100%"/>
{% else %}
    <img src="{{ meta.image }}" alt="" width="100%" />
{% endif %}
{% endblock %}
{% block sonata_mosaic_hover_view %}
    <span class="mosaic-box-label label label-primary pull-right">#{{ admin.id(object) }}</span>
    {{ meta.description|truncate(50) }}
{% endblock %}
{% block sonata_mosaic_description %}
    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
        <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid(admin) }) }}">{{ meta.title|truncate(50) }}</a>
    {% elseif admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
        <a href="{{ admin.generateUrl('show', {'id' : object|sonata_urlsafeid(admin) }) }}">{{ meta.title|truncate(50) }}</a>
    {% else %}
        {{ meta.title|truncate(50) }}
    {% endif %}
{% endblock %}